<body>
		<!-- Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top opac" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>      
        </div>
        <div id="grab" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a id="firstlink" href="#">Home</a></li>
            <li><a id="secondlink" href="#">Portfolio</a></li>
            <li><a id="thirdlink" href="#">About</a></li>
            <li><a id="fourthlink" href="#">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	  <!-- Main Body -->
		<div class="row">

      <!-- SECTION 1 -->
			<div id="first">	
				<img class="spread bg wow fadeIn" src="http://i.imgur.com/x5pJ7rj.jpg?1" title="source: imgur.com" />
				<img id="me" src="assets/Facetune.circle.jpg">	
        <div class="title container wow fadeInLeft">
          <h1 class="head">JORDAN HARDY</h1>
          <p class="cap">Web Developer</p>
          <hr>
        </div>
			</div>

      <!-- SECTION 2 -->

        <div id="second" class="spread works">
          <section id="works"></section>
          <div class="container">
            <div class="row centered mt mb">
              
              <div class="view view-tenth col-lg-4 col-md-4 col-sm-4 gallery">
                <img src="assets/DT-portfolio-shot.png" class="img-responsive img-rounded pic-template" />
                  <a class="anchorlink" href="http://betadaytripper.herokuapp.com">
                    <div class="figcap">
                      <h1>DAY  TRIPPER</h1><p> Rails, AngularJS, PostgreSQL, Bootstrap, GoogleMap | Yelp APIs</p>
                    </div>
                  </a> 
              </div>
          
              <div class="view view-tenth col-lg-4 col-md-4 col-sm-4 gallery">  
                <img src="assets/TW.png" class="img-responsive img-rounded pic-template" />
                  <a class="anchorlink">
                    <div class="figcap">
                      <h1>Digital Design</h1><p> Photoshop, Illustrator, InDesign</p>
                    </div>
                  </a>
              </div>

              <div class="view view-tenth col-lg-4 col-md-4 col-sm-4 gallery">  
                <img src="assets/xoxo-screenshot.png" class="img-responsive img-rounded pic-template" />
                  <a class="anchorlink">
                    <div class="figcap">
                      <h1>Tic Tac Doe</h1><p> Firebase, AngularJS, HTML5, CSS3</p>
                    </div>
                  </a>
              </div>

            </div><!--/row -->
          </div><!--/container -->
        </div>

      <!-- SECTION 3 -->
			<div id="third">
				<img class="spread bg" src="http://i.imgur.com/kV2ISw0.jpg?1" title="source: imgur.com" />
        <div class="spread bg show-me wow fadeInRight">
          <h1 class="petit container col-sm-5 pull-right">" I am passionate about creating web applications that flow seamlessly and solve problems. With an eye for design, maintaining simplicity is a fundamental theme in any project I take on. I'm always looking for the next challenge!"</h1>
        </div>  
			</div>

      <!-- SECTION 4 -->
      <div id="fourth" class="spread">
			  <div class="container">
          <div class="row centered">
            <!-- SOCIAL ICONS -->
            <div class="col-md-3 text center">
                <a href="mailto:jahardy34@gmail.com"><i class="wow fadeIn fa fa-envelope fa-2x"></i></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.facebook.com/jordan.hardy.334"><i class="wow fadeIn fa fa-facebook"></i></a>
            </div>
            <div class="col-md-3">
                <a class="mid" href="https://github.com/dinhodoes"><i class="wow fadeIn fa fa-github"></i></a>
            </div>
            <div class="col-md-3">
                <a class="mid" href="https://www.linkedin.com/profile/view?id=63013133&trk=nav_responsive_tab_profile_pic"><i class="wow fadeIn fa fa-linkedin"></i></a>
            </div>  
                  
          </div><!--/rocentered -->     
        </div><!--/container -->
      </div>
		</div>

</body>